.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.formInnerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.label {
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0.2rem;
}
