.accountCard {
  --accountCard-bg-color: hsl(0, 78%, 98%);
  background-color: var(--accountCard-bg-color);
  min-width: 30vw;
  max-width: 40vw;
  min-height: 40vh;
  max-height: 50vh;
}

.customerName {
  display: flex;
  min-width: inherit;
  min-height: 10vh;
  max-height: 15vh;
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: center;
}
